
      <hr>

      <footer>
        <p>©2022 Jeff J Martin</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap-386.js"></script>
    <script src="javascripts/bootstrap-transition.js"></script>
    <script src="javascripts/bootstrap-scrollspy.js"></script>
    <script src="javascripts/bootstrap-button.js"></script>
    <script src="javascripts/bootstrap-collapse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  </body>
</html>