<%- include('partials/header') %>
<div class="row-fluid">
  <div class="span10 offset1">
    <h1 class="text-center">About Jeff</h1>
    <div class="row">
      <div class="span8 offset2">
        <p>
          I've been an entrepreneur and a marketer since I left the US Army,
          spending the last few years in positions that would allow me to fill
          in the gaps in my marketing skillset. I'm a self taught marketer and
          wanted to find a mentor. During that journey I came to the realization
          that I'm not actually passionate about marketing, I'm passionate about
          building - I just spent my career conflating those 2 ideas.
        </p>
        <p>
          When I started my marketing career, it was at a scrappy startup and I
          used all the tools available to me to produce, including learning how
          to program.
        </p>
        <p>
          At first, I was using PHP and MySQL to parse larger data sets (Excel
          would only let me open 167k rows until a later update). Then I
          visualized that data with HTML/CSS/Javascript and eventually Google's
          data API. Additionally, I built a few CRUD apps to assist various
          departments: a PDF building app to assist the sales team in getting
          quotes out, an app to track call duration and categorize subject
          matter for the customer service team, and another app for us marketers
          which was essentially a full HTML Email templating system.
        </p>
        <p>Turns out I'm good at marketing, but I love building tools.</p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
