<%- include('partials/header') %>
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1>Hi, I'm Jeff</h1>
      <p>
        I'm a Full Stack Web Developer with an extensive marketing and
        leadership background. Development has always been my passion, and now
        it's my trade. Feel free to poke around and check out my work. Full
        credit to @kristopolous for
        <a target="_blank" href="https://github.com/kristopolous/BOOTSTRA.386"
          >this amazing 386 inspired bootstrap theme</a
        >.
      </p>
      <p class="text-center">
        Check out my portfolio pieces below.
        <!-- <a href="/about" class="btn btn-primary btn-large">Learn more »</a> -->
      </p>
    </div>
    <!--span-->
    <div class="row-fluid">
      <div class="span4">
        <h2>Vanilla Javascript Video Poker</h2>
        <p>
          Video Poker game built in vanila javascript using Bootstrap and
          minimal JQuery. Chip stacks are drawn with Canvas and the cards are
          individual .svg files. The app is deployed and hosted on Github Pages.
          This was my first project during week 3 of my General Assembly
          Bootcamp and demonstrates my ability to directly manipulate DOM
          elements and build a basic UI.
        </p>
        <p>
          <a
            class="btn"
            target="_blank"
            href="https://github.com/jsquarem/SEI-P1-Video-Poker"
            >View Github Repo »</a
          >
          <a
            class="btn"
            target="_blank"
            href="https://jsquarem.github.io/SEI-P1-Video-Poker/"
            >Launch App »</a
          >
        </p>
      </div>
      <!--/span-->
      <!--span-->
      <div class="span4">
        <h2>Nice Package, Manager</h2>
        <p>
          This CRUD app is built using Node.js with Express and MongoDB. The
          database is hosted on Mongo Atlas and the app is deployed and hosted
          on Heroku. I built this app to help me organize various NPM packages
          with common use cases. This project showcases my knowledge of UX and
          backend technologies and ability to take a product from idea to usable
          prototype within 1 week.
        </p>
        <p>
          <a
            class="btn"
            target="_blank"
            href="https://github.com/jsquarem/nice-package-man"
            >View Github Repo »</a
          >
          <a
            class="btn"
            target="_blank"
            href="https://nice-package-man.herokuapp.com/"
            >Launch App »</a
          >
        </p>
      </div>
      <!--/span-->
      <!--span-->
      <div class="span4">
        <h2>Petopia</h2>
        <p>
          This an app is built using Python, Django, and PostgreSQL. The data is
          fed live from the petfinder.com API (Daily API limits of 1k per day
          disqualify downloading the content and loading locally). This was a
          group project in which I was responsible for the backend, API, and
          deployment to Heroku. I also implemented the form state and
          pagination, as well as a refactor of my group's front-end code.
        </p>
        <p>
          <a
            class="btn"
            target="_blank"
            href="https://github.com/jsquarem/petopia"
            >View Github Repo »</a
          >
          <a class="btn" target="_blank" href="https://pet-opia.herokuapp.com/"
            >Launch App »</a
          >
        </p>
      </div>
      <!--/span-->
    </div>
  </div>
  <!--/span-->
</div>
<!--/row-->
<%- include('partials/footer') %>
